.wdate {
font-family: "JetBrains Mono", "Noto Sans", monospace;
  font-size: 2.25rem;
  font-weight: bold;
  color: rgba(255, 255, 255, 0.9);
  margin-bottom: -15px;
}

.wday {
  font-family: "JetBrains Mono", "Noto Sans", monospace;
  font-size: 5.25rem;
  font-weight: bolder;
  color: rgba(255, 255, 255, 0.9);
  margin-bottom: 10px;
}



.welement {
  font-size: 1.2em;
  font-weight: bold;
  color: rgba(255, 255, 255, 0.8);
}

.weather-text, .uptime-text,.battery-text {
  color: #ffaa33;
  font-weight: bold;
}

.wicon {
  border: 2px solid #ff3333;
  border-radius: 100%;
  color: rgba(255, 255, 255, 0.9);
  min-height: 0.7rem;
  min-width: 0.7rem;
  padding: 20px;
  font-size: 2.3rem;
  background-color: rgba(255, 51, 51, 0.2);
  &:hover {
    background-color: rgba(255, 51, 51, 0.4);
  }
}

.wqicon {
  font-size: 4rem;
  font-weight: bold;
  color: rgba(255, 255, 255, 0.9);
}

.wqtext {

  font-size: 1.1rem;
  font-weight: bold;
  color: rgba(255, 255, 255, 0.8);
}

.divider-wv {
  min-width: 3px;
  min-height: 10px;
  margin-right: 22px;
  background-color: rgba(255, 255, 255, 0.5);
}

.divider-wh {
  min-height: 3px;
  background-color: rgba(255, 255, 255, 0.5);
}
